
<div class="container">
  {{imgix-image path="/examples/puffins.jpg" class="header-img"}}

  {{imgix-image path="/examples/jellyfish.jpg" class="feature-img"}}
  {{imgix-image path="/examples/lionfish.jpg" class="feature-img"}}
  {{imgix-image path="/examples/clownfish.jpg" class="feature-img"}}
  {{imgix-image path="/examples/fin.jpg" class="feature-img"}}
</div>
